//- now filling acroding base.pugs 
extends base.pug

block scripts 
    script(src="/static/index.js") 

block style 
    link(rel="stylesheet", href="../static/style.css")

block content 

    nav#navbar 
        ul 
            li  #[a(href="/home") Home]
            li  #[a(href="/contact") Contact Us]
            li  #[a(href="/classesinfo") Classes Info]          
            li  #[a(href="/services") Services]         
            li  #[a(href="/aboutus") About Us]         
            

    section#sec1 
        h1 Find classes near you 
        h3 "dance sleep repeat" 
        //- img(src="../static/bg_dance.jpg", alt="", srcset="" )
        



    section#sec2 
        h2 our mission 
        div.box        
            div.box1 
                img(src="../static/garba2.jpg", alt="")
                a(href="/getgarba") GARBA CLASSES NEAR ME
            div.box1 
                img(src="../static/dance_logo_2.png", alt="")
                a(href="/") WESTERN-DANCE CLASS NEAR ME
            div.box1
                img(src="../static/dance_logo_6.jpg", alt="")
                a(href="/") OTHER SKILL CLASSES




    section#sec3 
        h2 Our Sponsors 
      
        div.box2        
            div.box3 
                img(src="../static/spons1.jpeg", alt="")
                 
            div.box3 
                img(src="../static/spons2.png", alt="")
                 
            div.box3
                img(src="../static/spons3.png", alt="")

     
    //- h1#data "hello data" 
    //-    button#btn #[a(href="/createdb") create db]        
    //-    button#btn #[a(href="/createtable") create table] 

    footer 
        p copyrights @copy 2022 all rights resreved by danceclasses.in     

        //- now change serving directory of app.js from       index.pug  -> home.pug