
html 

    head 
        link(rel="stylesheet", href="../static/style.css")
    
    
    nav#navbar 
        ul 
            li  #[a(href="/") Home]                  
            li  #[a(href="/") Classes Info]          
            li  #[a(href="/") Services]         
            li  #[a(href="/") About Us]         
            li  #[a(href="/") Contact Us]   

            //- [a] is for inner tag
    
    section#sec1 
        h1 Find classes near you 
        h3 "dance sleep repeat" 
        //- img(src="../static/bg_dance.jpg", alt="", srcset="" )
        



    section#sec2 
        h2 our mission 
        div.box        
            div.box1 
                img(src="../static/garba2.jpg", alt="")
                a(href="/") GARBA CLASSES NEAR ME
            div.box1 
                img(src="../static/dance_logo_2.png", alt="")
                a(href="/") WESTERN-DANCE CLASS NEAR ME
            div.box1
                img(src="../static/dance_logo_6.jpg", alt="")
                a(href="/") OTHER SKILL CLASSES




    section#sec3 
        h2 Our Sponsors 
      
        div.box2        
            div.box3 
                img(src="../static/spons1.jpeg", alt="")
                 
            div.box3 
                img(src="../static/spons2.png", alt="")
                 
            div.box3
                img(src="../static/spons3.png", alt="")

    footer 
        p copyrights @copy 2022 all rights resreved by danceclasses.in 

                 



